<h5 class="mt-3"> Product Management </h5>
<p>Create, edit or delete products & categories by using the following controls.</p>

<form class="form-inline mb-4" name="categoryForm" #categoryForm="ngForm">
  <input id="categoryName" name="categoryName" #categoryName="ngModel"
    type="text" required [maxlength]="256"
    class="form-control mx-1"
    [(ngModel)]="category.name"
    placeholder="Category Name"
  />
  <button type="button" title="New" class="btn btn-outline-primary mr-1">➕</button>
  <button type="button" title="Remove" class="btn btn-outline-danger">❌</button>
</form>

<form name="productForm" #productForm="ngForm" ngNativeValidate>

  <table class="table table-hover align-center">
    <thead class="thead-default">
      <tr>
        <th class="text-center">ID</th>
        <th>Category</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of category.products">
        <th class="text-center"> {{ product.id }} </th>
        <td> {{ category.name }} </td>
        <td> {{ product.name }} </td>
        <td> {{ product.color }} </td>
        <td> {{ product.price | currency:'USD':true }} </td>
        <td>
          <button type="button" title="Edit" class="btn btn-outline-primary">✏️</button>
          <button type="button" title="Remove" class="btn btn-outline-danger">❌</button>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <select id="category" name="category" #categoryList="ngModel"
            *ngIf="newProduct.id"
            required
            class="form-control"
            [(ngModel)]="newProduct.categoryId"
          >
            <option *ngFor="let c of categories" [value]="c.id"> {{ c.name }} </option>
          </select>
        </td>
        <td [ngClass]="validationClasses(name)">
          <input id="name" name="name" #name="ngModel"
            type="text" required [maxlength]="256"
            class="form-control form-control-danger form-control-success"
            placeholder="Product Name"
            [(ngModel)]="newProduct.name"
          />
        </td>
        <td [ngClass]="validationClasses(color)">
          <select id="color" name="color" #color="ngModel"
            required
            class="form-control form-control-danger form-control-success"
            [(ngModel)]="newProduct.color"
          >
            <option *ngFor="let c of colors" [value]="c"> {{ c }} </option>
          </select>
        </td>
        <td [ngClass]="validationClasses(price)">
          <input id="price" name="price" #price="ngModel"
            type="number" required
            class="form-control form-control-danger form-control-success"
            placeholder="0.00"
            [min]="0.1"
            [max]="999999.99"
            [step]="0.1"
            [(ngModel)]="newProduct.price"
          />
        </td>
        <td>
          <button type="submit" title="Add" class="btn btn-primary">Add</button>
        </td>
      </tr>
    </tbody>
  </table>

</form>

<pre>
Category: {{ { id: category.id, name: category.name } | json }}
New Product: {{ newProduct | json }}
Product Form.dirty: {{ productForm.dirty | json }}
Product Form.submitted: {{ productForm.submitted | json }}
Product Form.touched: {{ productForm.touched | json }}
Product Form.valid: {{ productForm.valid | json }}
Product Form.value: {{ productForm.value | json }}
</pre>
