<h4>My Orders</h4>
<p>These are your orders. You can cancel them but that would be sad.</p>

<table class="table table-hover align-center">
  <thead class="thead-default">
    <tr>
      <th class="text-center">ID</th>
      <th>Order Date</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center">1</th>
      <td>Jun 30th, 2017 12:53</td>
      <td>$ 7.25</td>
      <td>3 items</td>
      <td>
        <button type="button" class="btn btn-outline-danger">❌</button>
      </td>
    </tr>
    <tr>
      <th class="text-center">2</th>
      <td>Jun 30th, 2017 12:53</td>
      <td>$ 7.25</td>
      <td>3 items</td>
      <td>
        <button type="button" class="btn btn-outline-danger">❌</button>
      </td>
    </tr>
    <tr>
      <th class="text-center">3</th>
      <td>Jun 30th, 2017 12:53</td>
      <td>$ 7.25</td>
      <td>3 items</td>
      <td>
        <button type="button" class="btn btn-outline-danger">❌</button>
      </td>
    </tr>
  </tbody>
</table>
