<table class="table table-hover align-center">
  <thead class="thead-default">
    <tr>
      <th class="text-center">ID</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Birthdate</th>
      <th class="text-center">Admin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th class="text-center"> {{ user.id }} </th>
      <td> {{ user.fullName }} </td>
      <td> {{ user.email }} </td>
      <td> {{ user.birthdate | date }} </td>
      <td class="text-center">
        {{ user.admin ? 'yes' : 'no' }}
      </td>
      <td class="text-right">
        <button type="button"
          class="btn btn-outline-primary"
          [routerLink]="[user.id]"
        >✏️</button>
        <button type="button"
          *ngIf="! user.authenticated"
          class="btn btn-outline-danger"
          (click)="delete(user)"
        >❌</button>
      </td>
    </tr>
  </tbody>
</table>

<button type="button"
  class="btn btn-primary"
  [routerLink]="['new']"
> Add New </button>
